In [21]:
import pandas as pd
from cleaner.core import clean_data

In [22]:
df = pd.read_csv('example_data/messy_data.csv')

df.head()

              Name  Age         DOB           City
0         John Doe   21  1995-10-12        Chicago
1       Jane Smith   15  1993-05-16       New York
2        Sarah Lee   17  1994-04-05  Los Angeles
3  Marc  Gutierrez   52  12-12-1990        Chicago

In [25]:
cleaned = clean_data(df)

print(cleaned)

              name  age         dob         city
0         John Doe   21  1995-10-12      Chicago
1       Jane Smith   15  1993-05-16     New York
2        Sarah Lee   17  1994-04-05  Los Angeles
3  Marc  Gutierrez   52  12-12-1990      Chicago

c:\Users\manco\Desktop\data-cleaning-tool\cleaner\core.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
c:\Users\manco\Desktop\data-cleaning-tool\cleaner\core.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col])
c:\Users\manco\Desktop\data-cleaning-tool\cleaner\core.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col])